body {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #202124;
}

a {
    color: inherit;
    text-align: center;
    padding: 18px 0px 18px 15px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.heading {
    display: flex;
    justify-content: right;
    align-content: center;
    flex-direction: row;
    padding: 6px
}

.link-div {
    display: flex;
    justify-content: right;
    align-content: center;
    padding: 0px 15px 0px 0px;
}

.logo-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 6px
}

.search-div {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#search-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    all: unset;
    cursor: pointer;
    width: 34px;
    height: 34px;
}

svg {
    width: 16px;
    height: 16px;
    padding: 9px;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    border-style: solid;
    border: 1px solid #dfe1e5;
    border-radius: 34px;
    height: 34px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    max-width: 582px;
    width: 100%;
    flex: 0 1 auto;
}

#search-padding {
    width: 34px;
    height: 34px;
}

.search-buttons {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    height: 36px;
    min-width: 54px;
    flex: 0 1 auto;
}

.search-button:hover {
    box-shadow: 0 1px 2px rgb(32 33 36 /28%);
    border-color: rgba(223,224,229,0);
    cursor: pointer;
}

.search-bar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 /28%);
    border-color: rgba(223,225,229,0)
}

#search-bar {
    border: 0;
    font-size: 16px;
    flex: 0 1 auto;
}

#search-bar:focus {
    outline: none;
}

#logo {
    max-width: 550px;
    max-height: 220px;
    flex: auto;
}
