body {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #202124;
}

a {
    color: inherit;
    text-align: center;
    padding: 18px 0px 18px 15px
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.heading {
    display: flex;
    justify-content: right;
    align-content: center;
    flex-direction: row;
    padding: 6px
}

.link-div {
    display: flex;
    justify-content: right;
    align-content: center;
    padding: 0px 15px 0px 0px;
}

.logo-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 6px
}

.search-div {
    display: flex;
    justify-content: center;
    padding: 6px;
}

.search-bar {
    display: flex;
    border-style: solid;
    border: 1px solid #dfe1e5;
    border-radius: 34px;
}

#search-bar {
    height: 34px;
}

#logo {
    max-width: 550px;
    max-height: 220px;
    width: auto;
    height: auto;
}
